[submodule "new-app-templates/static/js/d3-plugins"]
	path = new-app-templates/static/js/d3-plugins
	url = https://github.com/d3/d3-plugins.git
[submodule "new-app-templates/static/js/d3"]
	path = new-app-templates/static/js/d3
	url = https://github.com/mbostock/d3.git
[submodule "new-app-templates/static/js/plugins/charts/flot"]
	path = new-app-templates/static/js/plugins/charts/flot
	url = https://github.com/flot/flot.git
