[submodule "new-app-templates/static/js/d3-plugins"]
	path = new-app-templates/static/js/d3-plugins
	url = https://github.com/d3/d3-plugins.git
[submodule "new-app-templates/static/js/d3"]
	path = new-app-templates/static/js/d3
	url = https://github.com/mbostock/d3.git
[submodule "new-app-templates/static/js/plugins/charts/flot"]
	path = new-app-templates/static/js/plugins/charts/flot
	url = https://github.com/flot/flot.git
[submodule "new-app-templates/static/js/plugins/charts/sparklines"]
	path = new-app-templates/static/js/plugins/charts/sparklines
	url = https://github.com/gwatts/jquery.sparkline.git
[submodule "new-app-templates/static/js/plugins/charts/pie-chart"]
	path = new-app-templates/static/js/plugins/charts/pie-chart
	url = https://github.com/rendro/easy-pie-chart.git
[submodule "new-app-templates/static/js/plugins/charts/justgage"]
	path = new-app-templates/static/js/plugins/charts/justgage
	url = https://github.com/toorshia/justgage.git
[submodule "new-app-templates/static/js/plugins/charts/raphael"]
	path = new-app-templates/static/js/plugins/charts/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "new-app-templates/static/js/plugins/core/jrespond"]
	path = new-app-templates/static/js/plugins/core/jrespond
	url = https://github.com/ten1seven/jRespond.git
[submodule "new-app-templates/static/js/plugins/core/nicescroll"]
	path = new-app-templates/static/js/plugins/core/nicescroll
	url = https://github.com/inuyaksa/jquery.nicescroll.git
[submodule "new-app-templates/static/js/plugins/core/touch-punch"]
	path = new-app-templates/static/js/plugins/core/touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
[submodule "new-app-templates/static/js/plugins/forms/autosize"]
	path = new-app-templates/static/js/plugins/forms/autosize
	url = https://github.com/jackmoore/autosize.git
[submodule "new-app-templates/static/js/plugins/forms/bootstrap-wysihtml5"]
	path = new-app-templates/static/js/plugins/forms/bootstrap-wysihtml5
	url = https://github.com/jhollingworth/bootstrap-wysihtml5.git
[submodule "new-app-templates/static/js/plugins/forms/datepicker"]
	path = new-app-templates/static/js/plugins/forms/datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
[submodule "new-app-templates/static/js/plugins/forms/globalize"]
	path = new-app-templates/static/js/plugins/forms/globalize
	url = https://github.com/jquery/globalize.git
[submodule "new-app-templates/static/js/plugins/forms/mask"]
	path = new-app-templates/static/js/plugins/forms/mask
	url = https://github.com/igorescobar/jQuery-Mask-Plugin.git
[submodule "new-app-templates/static/js/plugins/forms/multiselect"]
	path = new-app-templates/static/js/plugins/forms/multiselect
	url = https://github.com/yanickrochon/jquery.uix.multiselect.git
[submodule "new-app-templates/static/js/plugins/forms/select2"]
	path = new-app-templates/static/js/plugins/forms/select2
	url = https://github.com/ivaynberg/select2.git
[submodule "new-app-templates/static/js/plugins/forms/spectrum"]
	path = new-app-templates/static/js/plugins/forms/spectrum
	url = https://github.com/bgrins/spectrum.git
[submodule "new-app-templates/static/js/plugins/forms/switch"]
	path = new-app-templates/static/js/plugins/forms/switch
	url = https://github.com/nostalgiaz/bootstrap-switch.git
[submodule "new-app-templates/static/js/plugins/forms/uniform"]
	path = new-app-templates/static/js/plugins/forms/uniform
	url = https://github.com/pixelmatrix/uniform.git
[submodule "new-app-templates/static/js/plugins/forms/validation"]
	path = new-app-templates/static/js/plugins/forms/validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "new-app-templates/static/js/plugins/forms/wizard"]
	path = new-app-templates/static/js/plugins/forms/wizard
	url = https://github.com/thecodemine/formwizard.git
[submodule "new-app-templates/static/js/plugins/misc/codeview"]
	path = new-app-templates/static/js/plugins/misc/codeview
	url = https://github.com/stden/prettify.git
[submodule "new-app-templates/static/js/plugins/misc/fullcalendar"]
	path = new-app-templates/static/js/plugins/misc/fullcalendar
	url = https://github.com/arshaw/fullcalendar.git
[submodule "new-app-templates/static/js/plugins/misc/gallery"]
	path = new-app-templates/static/js/plugins/misc/gallery
	url = https://github.com/dimsemenov/Magnific-Popup.git
[submodule "new-app-templates/static/js/plugins/misc/gmap"]
	path = new-app-templates/static/js/plugins/misc/gmap
	url = https://github.com/jbdemonte/gmap3.git
[submodule "new-app-templates/static/js/plugins/misc/listnav"]
	path = new-app-templates/static/js/plugins/misc/listnav
	url = https://github.com/iHwy/jQuery-ListNav.git
[submodule "new-app-templates/static/js/plugins/tables/datatables"]
	path = new-app-templates/static/js/plugins/tables/datatables
	url = https://github.com/DataTables/DataTables.git
[submodule "new-app-templates/static/js/plugins/ui/jgrowl"]
	path = new-app-templates/static/js/plugins/ui/jgrowl
	url = https://github.com/stanlemon/jGrowl.git
[submodule "new-app-templates/static/js/plugins/ui/range-slider"]
	path = new-app-templates/static/js/plugins/ui/range-slider
	url = https://github.com/ghusse/jQRangeSlider.git
[submodule "new-app-templates/static/js/plugins/upload/elfinder"]
	path = new-app-templates/static/js/plugins/upload/elfinder
	url = https://github.com/Studio-42/elFinder.git
[submodule "new-app-templates/static/js/plugins/upload/plupload"]
	path = new-app-templates/static/js/plugins/upload/plupload
	url = https://github.com/moxiecode/plupload.git
