[submodule "new-app-templates/static/js/d3-plugins"]
	path = new-app-templates/static/js/d3-plugins
	url = https://github.com/d3/d3-plugins.git
[submodule "new-app-templates/static/js/d3"]
	path = new-app-templates/static/js/d3
	url = https://github.com/mbostock/d3.git
[submodule "new-app-templates/static/js/plugins/charts/flot"]
	path = new-app-templates/static/js/plugins/charts/flot
	url = https://github.com/flot/flot.git
[submodule "new-app-templates/static/js/plugins/charts/sparklines"]
	path = new-app-templates/static/js/plugins/charts/sparklines
	url = https://github.com/gwatts/jquery.sparkline.git
[submodule "new-app-templates/static/js/plugins/charts/pie-chart"]
	path = new-app-templates/static/js/plugins/charts/pie-chart
	url = https://github.com/rendro/easy-pie-chart.git
[submodule "new-app-templates/static/js/plugins/charts/justgage"]
	path = new-app-templates/static/js/plugins/charts/justgage
	url = https://github.com/toorshia/justgage.git
[submodule "new-app-templates/static/js/plugins/charts/raphael"]
	path = new-app-templates/static/js/plugins/charts/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git
[submodule "new-app-templates/static/js/plugins/core/jrespond"]
	path = new-app-templates/static/js/plugins/core/jrespond
	url = https://github.com/ten1seven/jRespond.git
[submodule "new-app-templates/static/js/plugins/core/nicescroll"]
	path = new-app-templates/static/js/plugins/core/nicescroll
	url = https://github.com/inuyaksa/jquery.nicescroll.git
[submodule "new-app-templates/static/js/plugins/core/touch-punch"]
	path = new-app-templates/static/js/plugins/core/touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
