[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
[ req_distinguished_name ]
C                      = US
ST                     = California
L                      = Berkeley
O                      = REDSHIFTNET Demo
OU                     = REDSHIFTNET Unit
CN                     = REDSHIFTNET User
emailAddress           = webmaster@localhost
